<!-- RelMe Links -->
<link rel="me" href="https://github.com/JMaynor">
<link rel="me" href="https://youtube.com/@jordan_maynor">
<link rel="me" href="https://bsky.app/profile/jtm.li">
<link rel="me" href="https://twitter.com/JordanTMaynor">
