<!-- RSS feed autodiscovery meta tags -->
<link rel="alternate" type="application/rss+xml" title="Blog Feed" href="{{ meta.siteBaseUrl }}/blogfeed.xml">
<link rel="alternate" type="application/rss+xml" title="All Posts Feed" href="{{ meta.siteBaseUrl }}/feed.xml">
